<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555170831832-r4c73ard0c4qq5is9svqol469423s61o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555170831832-r4c73ard0c4qq5is9svqol469423s61o</string>
	<key>API_KEY</key>
	<string>AIzaSyDmBy29GfQGkmOMjC-d-MznFJDzZH9S_0A</string>
	<key>GCM_SENDER_ID</key>
	<string>555170831832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shop</string>
	<key>PROJECT_ID</key>
	<string>shop-bloc-ef6f8</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-bloc-ef6f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555170831832:ios:d8396bb87b7cb84241e6ad</string>
</dict>
</plist>